.pagination li:hover{
    cursor: pointer;
}

.brick-desktop--lg {
    border: 1px solid #ddd;
    padding: 20px;
}
.brick-desktop {
    border: 1px solid #ddd;
    padding: 2%;
}
.btm20 {
    margin-bottom: 20px;
}
